body{
    padding:0;
    margin: 0;
}
.trivia{
  width: 50%;
  margin: 4rem;
}
.accordion {
  cursor: pointer;
  padding:0.5rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: #ccc; 
}
.panel {
  padding: 0 0.5rem;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}